*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	font-family: Roboto;
	margin: 0;
	padding: 0;
	font-weight: 100;
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #514B4B;
	font-size: 1.5em;
}

.nav-link:hover {
	text-decoration: underline;
	text-underline-position: under;
	opacity: 85%;
	color: brown;
}

.hero {
	background-image: url('../img/kendra-allen-k8FSoWAOzb4-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: auto;
	height: 1020px;
	padding: 5px;
}

header {
	background-color: #EEEAEA;
	position: fixed;
	width: -webkit-fill-available;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

@media (min-width: 650px){
    nav {
		justify-content: space-between;
	}
}

@media (max-width: 650px) {
	header {
		position: inherit;
		width: auto;
	}
}

@media (max-width: 650px) {
	nav {
		padding: 30px;
		font-size: 10px;
	}
}

@media (max-width: 800px) {
	nav {
		font-size: 10px;
	}
}

ul {
	display: flex;
    align-items: center;
    list-style: none;
    margin-right: 10px;
    color: #514B4B;
}

ul li {
	margin-inline-end: 30px;
	text-transform: uppercase;
	color: #514B4B;
}

.story-box {
	padding: 250px;
	display: grid;
	align-content: center;
}

.story-box-img-2 {
	border-radius: 50%;
    position: relative;
    top: -120px;
    left: 100px;
}

@media (max-width: 1107px) {
	.story-box {
		padding: 0;
		margin-top: 80px;
		margin-bottom: 80px;
		align-items: center;
		justify-content: center;
	}

	.story-box-img {
		margin: auto;
		margin-block-end: 50px;
	}

	.story-box-img-2 {
		position: initial;
		left: 0;
		top: 0;
	}

	.txt-story {
		position: initial!important;
		top: 0!important;
		left: 0!important;
		text-align: center;
	}
}

.txt-story {
	position: absolute;
    top: 1400px;
    left: 740px;
    display: inline-block;
}

.story-box-title {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	margin-block-end: 0;
	font-weight: normal;
	text-decoration-style: solid;
	text-decoration: underline;
	text-underline-position: under;
	font-size: 2em;
	font-weight: 100;
}

.story-box-p {
	margin-block-start: 3em;
}

.hero-2 {
	background-image: url('../img/isaiah-rustad-e0QVpFvn_fE-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: initial;
	width: auto;
	height: 1000px;
	background-position: center;
    padding: 5px;
}

.hero-2-content {
	margin-top: 750px;
	padding: 50px;
	color: #E9C0C0;
	text-transform: uppercase;
}

.hero-2-content > h1, p {
	margin-block: 0;
	margin-inline: 0;
}

.hero-2-content > h1 {
	letter-spacing: 0.25em;
	font-weight: 100;
	font-size: 5em;
}

@media (max-width: 858px) {
	.hero-2-content > h1 {
		font-size: 1.5em;
		letter-spacing: 0;
	}
}

.hero-2-content > p {
	letter-spacing: 0.15em;
	font-size: 1em;
}

.jumbotron {
	padding: 250px;
	text-align: center;
}

.jumb-title {
	text-transform: uppercase;
	font-size: 4em;
}

.jumb-title > h1 {
	font-weight: 100;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-style: solid;
}

@media (max-width: 900px) {
	.jumbotron {
		padding: 40px;
		padding-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 864px) {
	.jumb-title {
		font-size: 2em;
	}
}

.jumb-content {
	font-size: 3em;
}

.site-footer {
	padding-top: 30px;
	padding-bottom: 55px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #EEEAEA;
	color: #514B4B;
	text-transform: uppercase;
	font-size: 1.3em;
}

.site-footer-title {
	float: left;
}

.site-footer-slogan {
	float: right;
}

@media (max-width: 700px) {
	.site-footer {
		padding-bottom: 30px;
	}
	
	.site-footer-title, .site-footer-slogan {
		float: none;
	}

	.site-footer-slogan {
		margin-block-start: 25px;
	}
}